body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: rowing 2.1s infinite;
}

@keyframes rowing {
    0%, 100% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(-90deg);
    }
}