body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.demo-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: flex;
}

.box {
    width: 200px;
    height: 110px;
    background-color: #4682b4;
    margin: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.box.translate {
    transform: translate(50px, 50px);
    background-color: red;
}

.box.rotate {
    transform: rotate(45deg);
    background-color: magenta;
}

.box.scale {
    transform: scale(1.5);
    background-color: blue;
}

.box.skew {
    transform: skew(30deg, 20deg);
    background-color:yellow;
}